
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /treinamentos/wordpress-bootstrap4/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /treinamentos/wordpress-bootstrap4/index.php [L]
</IfModule>

# END WordPress